body {
    margin: 0;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles {
    position: relative;
    width: 620px;
    height: 280px;
}

.circle {
    width: 150px;
    height: 150px;
    border: 12px solid;
    border-radius: 50%;
    position: absolute;
    background: transparent;
}

.blue {
    border-color: dodgerblue;
    left: 0;
    top: 0;
    z-index: 300;
}

.black {
    border-color: black;
    left: 180px;
    top: 0;
    z-index: 500;
}

.red {
    border-color: red;
    left: 360px;
    top: 0;
    z-index: 700;
}

.yellow {
    border-color: yellow;
    left: 90px;
    top: 80px;
    z-index: 400;
}

.green {
    border-color: seagreen;
    left: 270px;
    top: 80px;
    z-index: 600;
}